<section id="about" class="vh-100 text-center mt-5">

  <app-star [title]="'about'" [customColor]="'#2c3e50'" class="p-5 mt-5"></app-star>

  <div class="container">
    <div class="row text-white fs-5 mt-5">
      <div class="col-md-6">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes
          the complete source files including HTML, CSS,
          and JavaScript as well as optional SASS
          stylesheets for easy customization.</p>
      </div>
      <div class="col-md-6">
        <p>You can create your own custom avatar for the masthead, change the icon in the dividers,
          and add your email address to the contact form to make it fully functional!</p>
      </div>
    </div>
  </div>
</section>