<section id="contact">
  <div class="line-content text-center p-5 mt-5 position-relative">
    <h2>CONTACT ME</h2>
    <div class="line-left"></div>
    <i class="fa-solid fa-star fa-2x"></i>
    <div class="line-right"></div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 mx-auto">
      <form>
        <input type="text" class="form-control my-3 p-3 " placeholder="Name">
        <input type="email" class="form-control my-3 p-3" placeholder="Email Address">
        <input type="number" class="form-control my-3 p-3" placeholder="Phone Number">
        <textarea name="text" class="form-control my-3 p-3" id="" cols="30" rows="3" placeholder="Message"></textarea>
        
        <button class="btn btn-info px-3 fs-5 mb-2">Send</button>
      </form>
    </div>
  </div>
</section>
