<section id="contact" class="my-5">
  <app-star [title]="title" [customColor]="customColorFromContact" class="p-5"></app-star>

  <form class="w-50 mx-auto">
    <!-- userName -->
    <input type="text" class="form-control border-0 border-bottom py-3" placeholder="User Name">
    <!-- emailAddress -->
    <input type="email" class="form-control border-0 border-bottom py-3" placeholder="Email Address">
    <!-- phoneNumber -->
    <input type="number" class="form-control border-0 border-bottom py-3" placeholder="Phone Number">
    <!-- Message -->
    <textarea name="text" class="form-control border-0 border-bottom py-3" cols="30" rows="3"
      placeholder="Message"></textarea>

    <button class="btn btn-info px-3 fs-5 mt-3">Send Message</button>
  </form>

</section>