<section id="portfolio">
  <div class="line-content text-center p-5 mt-3 position-relative">
    <h2>PORTFOLIO</h2>
    <div class="line-left"></div>
    <i class="fa-solid fa-star fa-2x"></i>
    <div class="line-right"></div>
  </div>
  <div class="container">
    <div class="portfolio-item">
      <div class="item-img position-relative">
        <img src="../../assets/images/cabin.png" alt="">
        <div class="layer"><i class="fa-solid fa-plus"></i></div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="item-img position-relative ">
        <img src="../../assets/images/cake.png" alt="">
        <div class="layer"><i class="fa-solid fa-plus"></i></div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="item-img position-relative">
        <img src="../../assets/images/circus.png" alt="">
        <div class="layer"><i class="fa-solid fa-plus"></i></div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="item-img position-relative">
        <img src="../../assets/images/game.png" alt="">
        <div class="layer"><i class="fa-solid fa-plus"></i></div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="item-img position-relative">
        <img src="../../assets/images/safe.png" alt="">
        <div class="layer"><i class="fa-solid fa-plus"></i></div>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="item-img position-relative">
        <img src="../../assets/images/game.png" alt="">
        <div class="layer"><i class="fa-solid fa-plus"></i></div>
      </div>
    </div>
  </div>

</section>
